<img *ngIf= "auth.loading" src="../assets/qWp.gif" />

<!--The content below is only a placeholder and can be replaced.-->
<mdb-navbar *ngIf="!auth.loading" SideClass="navbar navbar-expand-lg navbar-dark orange">    <!-- Navbar brand -->
  <logo><a class="navbar-brand" (click)="navigation('')">Tim Qin</a></logo>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
              <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbRippleRadius  class="nav-link waves-light" mdbRippleRadius>
           About Me <span class="caret"></span></a>
           <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbRippleRadius (click)="navigation('aboutme')">Who Am I</a>
            <a class="dropdown-item waves-light" mdbRippleRadius (click)="navigation('')">Travels</a>
        </div>
    </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbRippleRadius  class="nav-link waves-light" mdbRippleRadius>
              Experience<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbRippleRadius (click)="navigation('')">Employment History</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius (click)="navigation('pastproject')">Past Projects</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbRippleRadius (click)="navigation('')">GitHub</a>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbRippleRadius (click)="navigation('contactme')"> Contact Me</a>
        </li>

      </ul>
      <!-- Links -->

      <!-- Search form -->
      
           <lable *ngIf="!userService.getIsLoggedIn()"><a class="nav-link waves-light" mdbRippleRadius (click)="navigation('login')"> Login </a></lable> 
           <lable *ngIf="userService.getIsLoggedIn()">Hi {{this.userService.getUserInfo().username}}<a class="nav-link waves-light" mdbRippleRadius (click)="logout()"> Logout </a></lable> 
       
  </links>
  <!-- Collapsible content -->

</mdb-navbar>


<footer class="page-footer center-on-small-only">
        <div class="footer-copyright">
                <div class="container-fluid">
                    © 2018 Copyright: Tim Qin
                </div>
            </div>
</footer>

<router-outlet  (activate)="AuthenticateEachUser()"></router-outlet>