

.card{
    width: 25%; 
    top: 2em;
    display:block; 
    margin-right:auto; 
    margin-left:auto;

}
.card-block{
    margin-top:2em;
    border-color: grey;
    border-style:solid;
}

.card-title{
    border-color:black;
    border-bottom:dashed;
}

#uploadProjectButton{
    float:right;
    
}
.df{
    background-color:black;
    position:relative;
    top:5em;
    width:75%;
    margin-left:10%;
    margin-right:10%;
}