

.card{
    width: 25%; 
    top: 2em;
    display:block; 
    margin-right:auto; 
    margin-left:auto;

}
.card-block{
    margin-top:2em;
    border-color: grey;
    border-style:solid;
}

.card-title{
    border-color:black;
    border-bottom:dashed;
}