

.card{
    width: 25%; 
    top: 2em;
    display:block; 
    margin-right:auto; 
    margin-left:auto;

}
.card-block{
    margin-top:2em;
    border-color: grey;
    border-style:solid;
}

.card-title{
    border-color:black;
    border-bottom:dashed;
}

#uploadProjectButton{
    // hacky workaround cause float:right doesnt work
    margin-left:80%;
    margin-right:5%;
    
}
.uploadButtonRow{
    position:relative;
    top:3em;
    width:60%;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:2em;
    border-bottom: 1px solid gray;

}

.projectData{
    top:3em;
    margin-bottom:1em;
}