#myVideo {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	display:inline-block;
	z-index: -1000;
	overflow: hidden;
	top:0;		
	left:0;
	background-repeat: no-repeat;
	background-size:100%;
	background-position:center;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
#page_cover
{
	position: fixed;
	background:rgba(153,76,0,0.2);
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	z-index: -500;
	overflow: hidden;
	top:0;
	left:0;
	background-repeat: no-repeat;
	background-size:100%;
} 
.Title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.Title h1
{
	
	font-size: 90px;
	font-weight: bold;
	letter-spacing:8px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: inherit;
	padding-top: 10px;
	color:white;
	margin-top: 15%;
}

.Title p
{
    font-size: 40px;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
	color: inherit;
	padding-top: 10px;
	color:white;
}

a 
{
	text-decoration: none;
	color: inherit;
}