<link href="http://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">

<div [hidden]="auth.loading">
    <div id="page_cover"></div>
    <div class="Title">
        <h1>
            <a href="/"> Tim Qin </a>
        </h1>
        <p>Software Engineer </p>
        <button type="button" class="btn btn-outline-white" mdbRippleRadius>
            <a href="/aboutme">Learn More About Me</a>
        </button>
    </div>
    <video id="myVideo" autoplay loop preload="auto">
        <source src="../../assets/Robot_Maze.mp4" type="video/mp4">

    </video>
</div>